.landing {
  background: linear-gradient(
    45deg,
    #122860,
    #070b1d,
    #070b1d,
    #070b1d,
    #0f348a
  );
  .background-wrapper {
    width: 100%;
    min-height: 100vh;
    background: url("../images/close-up-man-wearing-virtual-reality-gadget\ Background\ Removed\ 1.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    flex-direction: column;
    @include braekpoint-down(small) {
      //   justify-content: flex-start;
      align-items: center;
      background-size: cover;
    }
    h2 {
      font-weight: 700;
      font-size: 75px;
      line-height: 80px;
      align-items: center;
      text-align: center;
      display: flex;

      @include braekpoint-down(medium) {
        font-size: 65px;
        line-height: 70px;
      }
      @include braekpoint-down(small) {
        font-size: 50px;
        line-height: 55px;
      }
      span {
        background: linear-gradient(266.54deg, #662979 15.2%, #2970f8 93.57%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin-left: 1rem;
        @include braekpoint-down(small) {
          font-size: 60px;
          line-height: 65px;
        }
      }
      color: #ffffff;
    }
    .h-30 {
      font-size: 75pxpx;
      line-height: 80px;
      flex-wrap: wrap;
      @include braekpoint-down(medium) {
        font-size: 60px;
        line-height: 65px;
      }
      @include braekpoint-down(small) {
        justify-content: center;
        display: flex;
        font-size: 60px;
        line-height: 65px;
      }
    }
    .arow {
      background: linear-gradient(266.54deg, #662979 15.2%, #2970f8 93.57%);
      width: fit-content;
      padding: 1rem;
      border-radius: 50%;
      svg {
        height: 70px;
        width: 70px;
        @include braekpoint-down(medium) {
          height: 60px;
          width: 60px;
        }
      }
      @include braekpoint-down(medium) {
        padding: 1.5rem;
      }
    }
  }
}

.fields {
  position: relative;
  padding: 3rem 2rem;
  background-color: #0d1328;
  gap: 2rem;
  @include braekpoint-down(medium) {
    flex-direction: column;
  }
  .content {
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      background: linear-gradient(90.32deg, #460ee7 0%, #7832eb 87.53%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 1rem;
    }
    ul li {
      color: #d6d6d6;
      font-size: 1.2rem;
    }
  }
  .images {
    position: relative;
    img {
      width: 250px;
      background: #070b1d;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      z-index: 3;
      object-fit: cover;
      @include braekpoint-down(medium) {
        width: 100%;
        height: initial;
      }
    }
    .top-img {
      @include braekpoint-down(medium) {
        //  position: static;
        display: none;
      }
      position: absolute;
      left: -90%;
      top: 50px;
      z-index: 1;
      @include braekpoint-down(medium) {
        top: initial;
        bottom: 10px;
      }
    }
  }
}

.services {
  background: #070b1d;
  padding: 3rem 0;
  p {
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #ffffff;
    padding: 3rem 0;
  }
  .man-with-vr {
    background-image: url("../images/man-exp.png");
    background-position: bottom center;
    min-height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    @include braekpoint-down(medium) {
      min-height: 60vh;
    }
    @include braekpoint-down(small) {
      min-height: 50vh;
    }
 
    .cards {
      position: absolute;
      background: linear-gradient(275.8deg, #662979 -0.01%, #2970f8 97.17%);
      padding: 1rem;
      border-radius: 10px;
      left: 10%;
      opacity: 0;
  
      &.right {
        right: 10%;
        left: initial;
      }
      &.left-b {
        top: 25%;
        left: 5%;
      }
      &.right-b {
        top: 25%;
        right: 5%;
        left: initial;
      }
      h2.heading {
        font-weight: bold;
        color: white;
      }
      p.disc {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: normal;
        max-width: 350px;
        text-align: start;
        padding: 1rem 0;
        margin: 0;
      }
    }
  }
}
