.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-f {
  display: flex;
}
.ai-c {
  align-items: center;
}
.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.wrap{
  flex-wrap: wrap;
}
.column{
  flex-direction: column;
}